$MQNarrow: 1000px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
.vp-page-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-width, 1000px);
  min-height: 2rem;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 2rem 0;
  border-top: 1px solid var(--vp-c-gutter);
  transition: border-top var(--vp-t-color);
}

.vp-theme-container[data-v-85cd31f7] {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
